{% extends "mburia/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="col-md-offset-2 col-md-5">
			<h2 class="page-header">Recent Questions</h2>
			{% if questions%}
			{% for question in questions %}
			<div class="question-box">
				<p class="question-box-category">Category . {{ question.category }}</p>
				<h2 class="question-title"><a href="{% url 'mburia:question_detail' question.pk %}">{{ question.question_title }}</a></h2>
				<p class="question-detail-text">{{ question.question_body|slice:":255"|linebreaks }}</p>
				<div class="question-info">
					<p class="question-author">Question posed by <span>{{ question.account }}</span></p>
					<p class="votes">{{ question.mburia_answer_set.count}} Answer{{ question.mburia_answer_set.count|pluralize }}</p>
					<p><span>Asked on: {{ question.date_asked }}</span></p>
				</div>
			</div>
			{% endfor %}
			{% endif %}
		</div>
		<div class="col-md-offset-2 col-md-3">
			<h2 class="page-header">Categories</h2>
			<ul class="list-unstyled category-list">
				{% if categories %}
				{% for category in categories %}
				<li><a href="{% url 'mburia:category_questions' category.pk %}">{{ category.category_name }}</a></li>
				{% endfor %}
				{% endif %}
			</ul>
		</div>
		
	</div>
</div>

{% endblock %}