{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="row">
	<div class="col-md-12">
		<div class="jumbotron">
			<div class="container">
				{% if user.is_authenticated %}
				<h2>Welcome {{ user.username }}</h2>
				<a href="{% url 'polls:polls_home' %}"><button class="btn btn-success">Polls</button></a>
				<a href="{% url 'logout' %}"><button class="btn btn-danger">Logout</button></a>
				{% else %}
				<a href="{% url 'login' %}"><button class="btn btn-primary">Login</button></a>
				<a href="{% url 'authentication:register_user' %}"><button class="btn btn-warning">Register</button></a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>